@{
    ViewData["Title"] = "Memory grid";
}

<p class="h3 text-center">Memory Grid</p>
<div class="row">
    <div class="col text-center">
        <button id="btnStart" class="btn btn-primary">Start</button>
        <div id="btnBar" class="btn-group d-none">
            <button id="btnReset" class="btn btn-primary">Reset</button>
            <button id="btnToggleLog" class="btn btn-primary d-none">Log</button>            
            <button id="btnHint" class="btn btn-primary">Hint</button>
        </div>
    </div>
</div>
<div class="row py-2">
    <div id="memoryGridContainer" class="col text-center">
        <p class="h6">Click start button</p>
    </div>
</div>
<div id="logRow" class="row d-none">
    <textarea id="logArea" class="w-100" readonly="readonly" rows="2" ></textarea>
</div>

@section Scripts{
    <script>
    var memGridHandler;
        $(function(){
            memGridHandler = initMemoryGrid();
        });
    </script>
}