@{
    ViewData["Title"] = "Memory grid";
}

<h1 class="text-center">Memory Grid</h1>
<div class="row text-center">
    <div class="col">
        <div class="btn-group">
            <button id="btnReset" class="btn btn-primary">Reset</button>
            <button id="btnHint" class="btn btn-primary">Hint</button>
            <button id="btnCheck" class="btn btn-primary">Check</button>
        </div>
    </div>
</div>
<div class="row">
    <div id="memoryGridContainer" class="col">
        <p>Grid goes here</p>
    </div>
    <div class="col">
        <textarea id="logArea" style="width: 200px; height: 200px; font-family: Courier New, monospace; font-size: 9pt;"></textarea>
    </div>
</div>

@section Scripts{
    <script>
    var memGridHandler;
        $(function(){
            memGridHandler = initMemoryGrid();
        });
    </script>
}